.env
.DS_Store

# zsh
zsh/env.zsh
zsh/backup

# vscode
vscode/backup

# cursor
cursor/backup

# nvim
nvim/backup

# homebrew
homebrew/Brewfile.lock.json

# agents
agents/backup

# sync
backup

.claude
!agents/.claude

.cursor
!agents/.cursor
agents/.cursor/mcp.json
