.env
.DS_Store

# zsh
zsh/env.zsh
zsh/work.zsh

# vscode
vscode/backup/*
!vscode/backup/.keep

# cursor
cursor/backup/*
!cursor/backup/.keep

# homebrew
homebrew/Brewfile.lock.json

# cursor/rules
.cursor/rules/*
!.cursor/rules/.keep
