.env
.DS_Store

# zsh
zsh/env.zsh
zsh/backup

# vscode
vscode/backup

# cursor
cursor/backup

# nvim
nvim/backup

# homebrew
homebrew/Brewfile.lock.json

# agents
agents/.github
agents/.codex
agents/.cursor
agents/.claude/*
!agents/.claude/settings.json
!agents/.claude/settings.local.json
!agents/.claude/scripts/
!agents/.claude/scripts/**

.claude
.cursor
