#!/bin/zsh

#
# git
#

# private
export GIT_USER_PRIVATE=
export GIT_EMAIL_PRIVATE=
export GIT_TOKEN_PRIVATE=

# private2
export GIT_USER_PRIVATE2=
export GIT_EMAIL_PRIVATE2=
export GIT_TOKEN_PRIVATE2=
